backend/config/config.php
backend/config/database.php
backend/counter.raw

upload
upload/*
!upload/.htaccess

frontend/*
!frontend/.htaccess
!frontend/default
!frontend/maintenance

backend/cache/*
!backend/cache/.htaccess
!backend/cache/index.html

backend/logs/*
!backend/logs/index.html

docs/build
docs/config.neon
docs/docs-report.xml
